.Contact{
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

@media (max-width:600px){
    .Contact{
        margin: 0;
        padding: 0;
        background-color: lawngreen;
    }
}