table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 30%;
    margin-top: 4%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}